<div id="loadingOverlay"
    class="visually-hidden position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-75 d-flex align-items-center justify-content-center"
    style="z-index:1050">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading…</span>
    </div>
</div>

<div id="step2-content" data-get-sync-function="init"></div>
<div id="area1">
    <div class="container-fluid">
        <h2 class="h3 mb-4">Step 2: Generate Items to Represent the Construct</h2>

        <!-- Panel 1: List Items -->
        <div class="card mb-4" id="itemPanel">
            <div class="card-body">
                <h4 class="card-title mb-3">Add Items</h4>
                <div id="itemsContainer"></div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="addItemText" placeholder="Item text" style="flex:2;">
                    <select class="form-select" id="addItemSubdimension" style="flex:0.5;">
                        <option value="" disabled selected>Select subdimension</option>
                    </select>
                    <button class="btn btn-secondary" type="button" id="addItemButton">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </div>
                <hr>
                <h4 class="card-title m-0 d-flex align-items-center">
                    <button id="toggleAIItemsBtn" class="btn btn-lg btn-outline-secondary me-3 collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#AIItemsContainer"
                    aria-expanded="true" aria-controls="AIItemsContainer">
                    <i class="bi bi-chevron-up"></i>
                    <span>Generate items</span>
                </button>
                </h4>
                <div id="AIItemsContainer" class="collapse">
                    <div class="row my-3">
                        <div class="col-auto pe-0">
                            <button class="btn btn-outline-info d-none" id="generateMoreliterature" onclick="generateItems('literature')"
                                aria-label="Generate More" title="Generate More" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-info" onclick="generateItems('literature',true)"
                                aria-label="Generate New Items" title="Generate New Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-danger remove-item" onclick="deleteItems('literature')"
                                aria-label="Delete Generated Items" title="Delete Generated Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                &times;
                            </button>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <h5 style="margin: 0px;">Reviews of the literature</h5>
                        </div>
                    </div>
                    <div class="card d-none" data-bs-theme="light">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row gen-item-container row-cols-1 g-3"
                                    id="literature-item-container">
                                </div>
                                <div class=" my-3 row g-3">
                                    <div class="col form-check">
                                        <input class="form-check-input" type="checkbox" id="selectAllliterature"
                                        onchange="document.querySelectorAll('.literature-checkbox').forEach(cb => !cb.disabled ? cb.checked = this.checked : null)">
                                        <label class="form-check-label" for="selectAllliterature">Select All</label> <button class="btn btn-secondary btn-sm ms-3" onclick="chooseSelectItems('literature')">Choose Selected</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row my-3">
                        <div class="col-auto pe-0">
                            <button class="btn btn-outline-info d-none" id="generateMorededuction" onclick="generateItems('deduction')"
                                aria-label="Generate More" title="Generate More" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-info" onclick="generateItems('deduction',true)"
                                aria-label="Generate New Items" title="Generate New Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-danger remove-item" onclick="deleteItems('deduction')"
                                aria-label="Delete Generated Items" title="Delete Generated Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                &times;
                            </button>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <h5 style="margin: 0px;">Deduction from the Theoretical definition of the construct</h5>
                        </div>
                    </div>
                    <div class="card d-none" data-bs-theme="light">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row gen-item-container row-cols-1 g-3"
                                    id="deduction-item-container">
                                </div>
                                <div class=" my-3 row g-3">
                                    <div class="col form-check">
                                        <input class="form-check-input" type="checkbox" id="selectAlldeduction"
                                        onchange="document.querySelectorAll('.deduction-checkbox').forEach(cb => !cb.disabled ? cb.checked = this.checked : null)">
                                        <label class="form-check-label" for="selectAlldeduction">Select All</label> <button class="btn btn-secondary btn-sm ms-3" onclick="chooseSelectItems('deduction')">Choose Selected</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row my-3">
                        <div class="col-auto pe-0">
                            <button class="btn btn-outline-info d-none" id="generateMoresummary" onclick="generateItems('summary')"
                                aria-label="Generate More" title="Generate More" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-info" onclick="generateItems('summary',true)"
                                aria-label="Generate New Items" title="Generate New Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-danger remove-item" onclick="deleteItems('summary')"
                                aria-label="Delete Generated Items" title="Delete Generated Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                &times;
                            </button>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <h5 style="margin: 0px;">Theoretical and empirical research on the focal construct</h5>
                        </div>
                    </div>
                    <div class="card d-none" data-bs-theme="light">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row gen-item-container row-cols-1 g-3"
                                    id="summary-item-container">
                                </div>
                                <div class=" my-3 row g-3">
                                    <div class="col form-check">
                                        <input class="form-check-input" type="checkbox" id="selectAllsummary"
                                        onchange="document.querySelectorAll('.summary-checkbox').forEach(cb => !cb.disabled ? cb.checked = this.checked : null)">
                                        <label class="form-check-label" for="selectAllsummary">Select All</label> <button class="btn btn-secondary btn-sm ms-3" onclick="chooseSelectItems('summary')">Choose Selected</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row my-3">
                        <div class="col-auto pe-0">
                            <button class="btn btn-outline-info d-none" id="generateMoreexpert" onclick="generateItems('expert')"
                                aria-label="Generate More" title="Generate More" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-info" onclick="generateItems('expert',true)"
                                aria-label="Generate New Items" title="Generate New Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-danger remove-item" onclick="deleteItems('expert')"
                                aria-label="Delete Generated Items" title="Delete Generated Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                &times;
                            </button>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <h5 style="margin: 0px;">Experts in the field</h5>
                        </div>
                        <div class="col-12 my-2">
                            <textarea class="form-control small" id="expertPromptAddon" rows="3" placeholder="Add any additional context or requirements for the expert personas..."></textarea>
                        </div>
                    </div>
                    <div class="card d-none" data-bs-theme="light">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row gen-item-container row-cols-1 g-3"
                                    id="expert-item-container">
                                </div>
                                <div class=" my-3 row g-3">
                                    <div class="col form-check">
                                        <input class="form-check-input" type="checkbox" id="selectAllexpert"
                                        onchange="document.querySelectorAll('.expert-checkbox').forEach(cb => !cb.disabled ? cb.checked = this.checked : null)">
                                        <label class="form-check-label" for="selectAllexpert">Select All</label> <button class="btn btn-secondary btn-sm ms-3" onclick="chooseSelectItems('expert')">Choose Selected</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row my-3">
                        <div class="col-auto pe-0">
                            <button class="btn btn-outline-info d-none" id="generateMorefocusGroup" onclick="generateItems('focusGroup')"
                                aria-label="Generate More" title="Generate More" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-info" onclick="generateItems('focusGroup',true)"
                                aria-label="Generate New Items" title="Generate New Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-danger remove-item" onclick="deleteItems('focusGroup')"
                                aria-label="Delete Generated Items" title="Delete Generated Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                &times;
                            </button>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <h5 style="margin: 0px;">Focus group discussions</h5>
                        </div>
                        <div class="col-12 my-2">
                            <textarea class="form-control small" id="focusGroupPromptAddon" rows="3" placeholder="Add any additional context or requirements for the focus group discussions..."></textarea>
                        </div>
                    </div>
                    <div class="card d-none" data-bs-theme="light">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row gen-item-container row-cols-1 g-3"
                                    id="focusGroup-item-container">
                                </div>
                                <div class=" my-3 row g-3">
                                    <div class="col form-check">
                                        <input class="form-check-input" type="checkbox" id="selectAllfocusGroup"
                                        onchange="document.querySelectorAll('.focusGroup-checkbox').forEach(cb => !cb.disabled ? cb.checked = this.checked : null)">
                                        <label class="form-check-label" for="selectAllfocusGroup">Select All</label> <button class="btn btn-secondary btn-sm ms-3" onclick="chooseSelectItems('focusGroup')">Choose Selected</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row my-3">
                        <div class="col-auto pe-0">
                            <button class="btn btn-outline-info d-none" id="generateMoreexisting" onclick="generateItems('existing')"
                                aria-label="Generate More" title="Generate More" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-info" onclick="generateItems('existing',true)"
                                aria-label="Generate New Items" title="Generate New Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </div>
                        <div class="col-auto ps-2">
                            <button class="btn btn-outline-danger remove-item" onclick="deleteItems('existing')"
                                aria-label="Delete Generated Items" title="Delete Generated Items" data-bs-toggle="tooltip"
                                data-bs-placement="top">
                                &times;
                            </button>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <h5 style="margin: 0px;">Other existing measures of the construct</h5>
                        </div>
                    </div>
                    <div class="card d-none" data-bs-theme="light">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row gen-item-container row-cols-1 g-3"
                                    id="existing-item-container">
                                </div>
                                <div class=" my-3 row g-3">
                                    <div class="col form-check">
                                        <input class="form-check-input" type="checkbox" id="selectAllexisting"
                                        onchange="document.querySelectorAll('.existing-checkbox').forEach(cb => !cb.disabled ? cb.checked = this.checked : null)">
                                        <label class="form-check-label" for="selectAllexisting">Select All</label> <button class="btn btn-secondary btn-sm ms-3" onclick="chooseSelectItems('existing')">Choose Selected</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="subdimensionsContainer"></div>
    </div>
    <div class="d-flex justify-content-end">
            <a id="continueStep2Btn" type="button" class="btn btn-primary d-none my-3" href="/step/3">
                Continue to next step
            </a>
        </div>
</div>
