<div id="area1">


    
    <div class="container-fluid">
        <h2 class="h3 mb-4 text-light">Step 1: Item Generation</h2>
        <div class="card bg-secondary border-secondary">
            <div class="card-body">
                <p class="card-text text-light">Generate the Items</p>
            </div>
        </div>
    </div>
</div>


<div id="area2">
    <div class="container-fluid">
        <h2 class="h3 mb-4 text-light">Step 2: Item Generation</h2>
        <div class="card bg-secondary border-secondary">
            <div class="card-body">
                <p class="card-text text-light">Generadwadoawndoiawnd Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt explicabo aliquam possimus animi quasi officia quis perferendis asperiores ad fuga ex, beatae quo fugiat dolor earum reiciendis distinctio sed eligendi.ms</p>
            </div>
        </div>
    </div>
</div>